@import "templates";

body {
  padding-top: 70px;
}

/*Аутентификация*/
.form {
  .alert {
    margin: 10px 0;
  }
}

/*Список продуктов на главной*/
.list-products {
  margin: 20px 0;
}

/*Меню категорий товаров*/

.nav-products {
  li {
    position: relative;
    a {
      border: 1px solid $AQUA_COLOR;
      margin-bottom: -1px;
    }

    &:hover .sub-menu {
      display: block;
    }
  }
  .sub-menu {
    border-left: 2px solid $AQUA_COLOR;
    width: 300px;
    background: #ffffff;
    display: none;
    position: absolute;
    margin-left: 260px;
    z-index: 10;
    top: 0;
  }
}

/*Меню выборки в каталоге*/

.menu-select {
  margin: 20px 0;
  padding: 20px;
  border: 1px solid $AQUA_COLOR;
  #slider-range {
    margin: 10px 0;
  }
  .manufacturer-list {
    padding: 0 10px;
    overflow: auto;
    height: 150px;
  }
}

/*Постраничный вывод*/

.div-pagination {
  display: flex;
  justify-content: center;
}

/*Управление продуктами*/

.image-product {
    img{
      height: 100px;
    }
}